<p>Your request has been submitted.</p>
<!--
You can find it at <a href="https://192.168.0.220/svn/tech/Branch/">svn-http</a><br><br> 

<p>新创建分支:#{branch_name}</P>

<p><继续创建新分支,返回创建</p>
<a href=“http://192.168.0.232:3000/">上一页</a><br><br>
-->
<%= link_to 'Back', builder_index_path %>
<p><分支创建完成，权限添加请访问如下网站(具体权限请联系祁善庆、王扬)</p>
<a href="http://192.168.0.232:8001/svnadmin/">svnamdin密码权限修改</a><br><br>       
