<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.8"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>3</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.6.0">
      <gitLabConnection>Gitlab</gitLabConnection>
      <jobCredentialId/>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_PROJECT</name>
          <description>源代码项目</description>
          <defaultValue>liuqiaojun/i12_slam_source</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_PROJECT</name>
          <description>子模块项目。</description>
          <defaultValue>AroundI18RProject/I18RSlamSubmodule</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_BRANCH</name>
          <description>嵌入式组I18R源代码项目监控分支</description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_BRANCH</name>
          <description>嵌入式组I18R子模块项目监控分支</description>
          <defaultValue>compile_12</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_SCRIPT</name>
          <description>项目编译调用脚本</description>
          <defaultValue>build_12.sh</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLEAN_TARGET_PROJECT</name>
          <description>推送目标项目是否先删除项目所有文件，true表示确认
 </description>
          <defaultValue>true</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_PROJECT_FILE_PATH</name>
          <description>提交目标项目根目录下相对路径，目标目录会自动创建	</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAN_WORKSPACE</name>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>KEEP_BUILD</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>car1||car3</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.dabsquared.gitlabjenkins.GitLabPushTrigger plugin="gitlab-plugin@1.6.0">
      <spec/>
      <triggerOnPush>true</triggerOnPush>
      <triggerToBranchDeleteRequest>false</triggerToBranchDeleteRequest>
      <triggerOnMergeRequest>true</triggerOnMergeRequest>
      <triggerOnlyIfNewCommitsPushed>false</triggerOnlyIfNewCommitsPushed>
      <triggerOnPipelineEvent>false</triggerOnPipelineEvent>
      <triggerOnAcceptedMergeRequest>false</triggerOnAcceptedMergeRequest>
      <triggerOnClosedMergeRequest>false</triggerOnClosedMergeRequest>
      <triggerOnApprovedMergeRequest>true</triggerOnApprovedMergeRequest>
      <triggerOpenMergeRequestOnPush>never</triggerOpenMergeRequestOnPush>
      <triggerOnNoteRequest>true</triggerOnNoteRequest>
      <noteRegex>Jenkins please retry a build</noteRegex>
      <ciSkip>true</ciSkip>
      <skipWorkInProgressMergeRequest>true</skipWorkInProgressMergeRequest>
      <labelsThatForcesBuildIfAdded/>
      <setBuildDescription>true</setBuildDescription>
      <branchFilterType>All</branchFilterType>
      <includeBranchesSpec/>
      <excludeBranchesSpec/>
      <sourceBranchRegex/>
      <targetBranchRegex/>
      <secretToken>{AQAAABAAAAAwIsonELHjADVFUNtL8IbHxf4lAksaMKw45UedL0F4sV5roNT3N0qc/Tx1JU5copZxXPlEBf5TlxuM6JmjWe8XvA==}</secretToken>
      <pendingBuildName/>
      <cancelPendingBuildsOnUpdate>false</cancelPendingBuildsOnUpdate>
    </com.dabsquared.gitlabjenkins.GitLabPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>bash ~/myscript/build/build.sh</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.91">
      <recipientList>qishanqing@indemind.cn</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>qishanqing@indemind.cn,lishaohui@indemind.cn</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>JENKINS编译-${JOB_NAME}</defaultSubject>
      <defaultContent>&lt;!DOCTYPE html&gt;    
&lt;html&gt;    
&lt;head&gt;    
&lt;meta charset="UTF-8"&gt;    
&lt;title&gt;${ENV, var="JOB_NAME"}-第${BUILD_NUMBER}次构建日志&lt;/title&gt;    
&lt;/head&gt;    
    
&lt;body leftmargin="8" marginwidth="0" topmargin="8" marginheight="4"    
    offset="0"&gt;    
    &lt;table width="95%" cellpadding="0" cellspacing="0"  style="font-size: 11pt; font-family: Tahoma, Arial, Helvetica, sans-serif"&gt;    
        &lt;tr&gt;    
            本邮件由系统自动发出，无需回复！&lt;br/&gt;            
            &lt;td&gt;&lt;font color="#CC0000"&gt;构建结果 - ${BUILD_STATUS}&lt;/font&gt;&lt;/td&gt;   
        &lt;/tr&gt;    
        &lt;tr&gt;    
            &lt;td&gt;&lt;br /&gt;    
            &lt;b&gt;&lt;font color="#0B610B"&gt;构建信息&lt;/font&gt;&lt;/b&gt;    
            &lt;hr size="2" width="100%" align="center" /&gt;&lt;/td&gt;    
        &lt;/tr&gt;    
        &lt;tr&gt;    
            &lt;td&gt;    
                &lt;ul&gt;
                    &lt;li&gt;构建项目： ${JOB_NAME}&lt;/li&gt;    
                    &lt;li&gt;触发原因： ${CAUSE}&lt;/li&gt;    
                    &lt;li&gt;构建状态： ${BUILD_STATUS}&lt;/li&gt;    
                    &lt;li&gt;构建日志： &lt;a href="${BUILD_URL}console"&gt;${BUILD_URL}console&lt;/a&gt;&lt;/li&gt; 
                    &lt;li&gt;版本地址  ： &lt;a href="http://192.168.50.191:85/${TARGET_PROJECT}/-/tree/$BRANCH"&gt;http://192.168.50.191:85/${TARGET_PROJECT}/-/tree/$BRANCH&lt;/a&gt;&lt;/li&gt; 
                    &lt;li&gt;查看更多：${JENKINS_JOB_BUILD_LOG_URL}&lt;/li&gt;  
                &lt;/ul&gt; 
            &lt;/td&gt;    
        &lt;/tr&gt;    
    &lt;/table&gt;    
&lt;/body&gt;    
&lt;/html&gt;</defaultContent>
      <attachmentsPattern/>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.43">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter>CLEAN_WORKSPACE</cleanupParameter>
      <externalDelete/>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.20"/>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.9"/>
  </buildWrappers>
</project>