[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[submit]
	mergeContent = false
	action = fast forward only
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = deny group Anonymous Users
	read = deny group Registered Users
	read = group Administrators
	read = group dev
	read = group review
	submit = group Administrators
        submit = group Non-Interactive Users
	create = group Administrators
	forgeCommitter = group fih-cm
	forgeCommitter = group sim-cm
        forgeAuthor = group fih-cm
        forgeAuthor = group sim-cm
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Non-Interactive Users
	forgeCommitter = group Project Owners
	push = +force group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group fih-review
	label-Code-Review = -2..+2 group review
        label-Code-Review = -2..+2 group sim-review
	label-Code-Review = -1..+1 group Registered Users
	submit = group Administrators
	submit = group Non-Interactive Users
        submit = group Project Owners
	submit = group fih-review
	submit = group review
        submit = group sim-review
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
        submit = group Non-Interactive Users
	submit = group Project Owners
[access "refs/tags/*"]
	pushTag = group Administrators
	pushTag = group Project Owners
	pushSignedTag = group Administrators
	pushSignedTag = group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[access "refs/heads/simt/*"]
	read = deny group sim-dev
	create = deny group sim-cm
        push = deny group sim-cm
[access "refs/heads/fih/*"]
	read = group fih-dev
        create = group fih-cm
        push = group fih-cm
[access "refs/heads/idn/*"]
	read = deny group idn-dev
[access "refs/for/simt/mol/phoenix-rom_r00400.1_2.6"]
	submit = deny group dev
	submit = deny group sim-dev
	submit = group Administrators
        submit = group Non-Interactive Users
	submit = group sim-cm
[access "refs/heads/ali/*"]
	read = group ali-dev
[access "refs/heads/aliv/*"]
	read = group user/大位 求 (ali-dawei.qdw)
	create = group user/大位 求 (ali-dawei.qdw)
	push = group user/大位 求 (ali-dawei.qdw)
	label-Code-Review = -2..+2 group user/大位 求 (ali-dawei.qdw)
	submit = group user/大位 求 (ali-dawei.qdw)
[access "refs/heads/fih/bono-20160718-cta"]
	submit = group Administrators
	submit = group Non-Interactive Users
	submit = group fih-review
	submit = group reviewer-mol
	submit = block group Registered Users
[commentlink "changeid"]
    match = (I[0-9a-f]{8,40})
    link = "#/q/$1"
[commentlink "mantis"]
    match = "([Tt]icket:\\s*)([0-9]{1,20})"
    link = http://mantis.smartisan.cn/view.php?id=$2
