<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.QueueItemAuthenticatorMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.222.1</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:jenkins</permission>
    <permission>hudson.model.Hudson.Administer:qishanqing</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:jcljob</permission>
    <permission>hudson.model.Hudson.Read:lionel</permission>
    <permission>hudson.model.Hudson.Read:lishaohui</permission>
    <permission>hudson.model.Hudson.Read:liuqiaojun</permission>
    <permission>hudson.model.Hudson.Read:liyanlong</permission>
    <permission>hudson.model.Hudson.Read:qiuliru</permission>
    <permission>hudson.model.Hudson.Read:sunhao</permission>
    <permission>hudson.model.Hudson.Read:wss</permission>
    <permission>hudson.model.Hudson.Read:xiaoyangtao</permission>
    <permission>hudson.model.Hudson.Read:xu</permission>
    <permission>hudson.model.Hudson.Read:zhangshuai</permission>
    <permission>hudson.model.Hudson.Read:zhiqiang</permission>
    <permission>hudson.model.Item.Build:jcljob</permission>
    <permission>hudson.model.Item.Build:lionel</permission>
    <permission>hudson.model.Item.Build:lishaohui</permission>
    <permission>hudson.model.Item.Build:liuqiaojun</permission>
    <permission>hudson.model.Item.Build:liyanlong</permission>
    <permission>hudson.model.Item.Build:qiuliru</permission>
    <permission>hudson.model.Item.Build:sunhao</permission>
    <permission>hudson.model.Item.Build:wss</permission>
    <permission>hudson.model.Item.Build:xiaoyangtao</permission>
    <permission>hudson.model.Item.Build:xu</permission>
    <permission>hudson.model.Item.Build:zhangshuai</permission>
    <permission>hudson.model.Item.Build:zhiqiang</permission>
    <permission>hudson.model.Item.Cancel:jcljob</permission>
    <permission>hudson.model.Item.Cancel:lionel</permission>
    <permission>hudson.model.Item.Cancel:lishaohui</permission>
    <permission>hudson.model.Item.Cancel:liuqiaojun</permission>
    <permission>hudson.model.Item.Cancel:liyanlong</permission>
    <permission>hudson.model.Item.Cancel:qiuliru</permission>
    <permission>hudson.model.Item.Cancel:sunhao</permission>
    <permission>hudson.model.Item.Cancel:wss</permission>
    <permission>hudson.model.Item.Cancel:xiaoyangtao</permission>
    <permission>hudson.model.Item.Cancel:xu</permission>
    <permission>hudson.model.Item.Cancel:zhangshuai</permission>
    <permission>hudson.model.Item.Cancel:zhiqiang</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:jcljob</permission>
    <permission>hudson.model.Item.Read:lionel</permission>
    <permission>hudson.model.Item.Read:lishaohui</permission>
    <permission>hudson.model.Item.Read:liuqiaojun</permission>
    <permission>hudson.model.Item.Read:liyanlong</permission>
    <permission>hudson.model.Item.Read:qiuliru</permission>
    <permission>hudson.model.Item.Read:sunhao</permission>
    <permission>hudson.model.Item.Read:wss</permission>
    <permission>hudson.model.Item.Read:xiaoyangtao</permission>
    <permission>hudson.model.Item.Read:xu</permission>
    <permission>hudson.model.Item.Read:zhangshuai</permission>
    <permission>hudson.model.Item.Read:zhiqiang</permission>
    <permission>hudson.model.Item.Workspace:authenticated</permission>
    <permission>hudson.model.Item.Workspace:jcljob</permission>
    <permission>hudson.model.Item.Workspace:lionel</permission>
    <permission>hudson.model.Item.Workspace:lishaohui</permission>
    <permission>hudson.model.Item.Workspace:liuqiaojun</permission>
    <permission>hudson.model.Item.Workspace:liyanlong</permission>
    <permission>hudson.model.Item.Workspace:qiuliru</permission>
    <permission>hudson.model.Item.Workspace:sunhao</permission>
    <permission>hudson.model.Item.Workspace:wss</permission>
    <permission>hudson.model.Item.Workspace:xiaoyangtao</permission>
    <permission>hudson.model.Item.Workspace:xu</permission>
    <permission>hudson.model.Item.Workspace:zhangshuai</permission>
    <permission>hudson.model.Item.Workspace:zhiqiang</permission>
    <permission>hudson.model.View.Read:authenticated</permission>
    <permission>hudson.model.View.Read:jcljob</permission>
    <permission>hudson.model.View.Read:lionel</permission>
    <permission>hudson.model.View.Read:lishaohui</permission>
    <permission>hudson.model.View.Read:liuqiaojun</permission>
    <permission>hudson.model.View.Read:liyanlong</permission>
    <permission>hudson.model.View.Read:qiuliru</permission>
    <permission>hudson.model.View.Read:sunhao</permission>
    <permission>hudson.model.View.Read:wss</permission>
    <permission>hudson.model.View.Read:xiaoyangtao</permission>
    <permission>hudson.model.View.Read:xu</permission>
    <permission>hudson.model.View.Read:zhangshuai</permission>
    <permission>hudson.model.View.Read:zhiqiang</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>jdk8</name>
      <home>/usr/local/java/jdk1.8.0_251/bin/java</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>slam</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>abby-slam</string>
        <string>abby-slam_dataset_run</string>
        <string>i18r-slam</string>
        <string>i18r-slam-calibration</string>
        <string>i18r-slam-pc</string>
        <string>rbn100-slam</string>
        <string>rubby-slam</string>
        <string>rubby-slam_thirdparty</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>scm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>apt_install</string>
        <string>car-project</string>
        <string>check_mount_ftp</string>
        <string>confluence-backup</string>
        <string>cr</string>
        <string>gitlab-backup</string>
        <string>indemind_app</string>
        <string>jira-backup</string>
        <string>khadas-car-pull</string>
        <string>my-pull</string>
        <string>test</string>
        <string>test-data</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>embeded</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r-embeded</string>
        <string>i18r-embeded-ice</string>
        <string>rubby-embeded</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DeepLearning</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>deeplearning_site</string>
        <string>i18r_deeplearning</string>
        <string>rubby-deeplearning</string>
        <string>tt</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ros</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>ccpp_control-planing-i18r-so-upload</string>
        <string>control-planing-i18r-so-upload</string>
        <string>control-planing-so-upload</string>
        <string>i18r-ros-pc</string>
        <string>rubby-ros</string>
        <string>test_control-planing-i18r-so-upload</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>sdk</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r-sdk</string>
        <string>rubby-sdk</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>marker</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>calibr_tools</string>
        <string>i18r-marker</string>
        <string>i18r-marker-pc</string>
        <string>i18r-marker-test</string>
        <string>i18r_self</string>
        <string>i18r_self_pc</string>
        <string>mark-check-tools</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>depth</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r_depth</string>
        <string>i18r_depth_pc</string>
        <string>i18r_depth_test</string>
        <string>i18r_depth_test_pc</string>
        <string>rbn100_depth</string>
        <string>rubby-depth</string>
        <string>rubby-depth-test</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>UI</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r_ui</string>
        <string>ui-test</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>生产工具</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r_robot_check</string>
        <string>i18r_tools</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/listView/jobNames/comparator"/>
          </default>
          <int>1</int>
          <string></string>
          <string></string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <globalNodeProperties/>
</hudson>