
<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  此网站使用规范点击如下连接<br><br>

  <a href="http://192.168.0.232:8001/org/Tag%E5%88%9B%E5%BB%BA%E6%8C%87%E5%8D%97.html">Tag创建指南</a>---<a href="http://192.168.0.231:3000/dev_helpers">功能网页请戳我</a>.<br><br>
  <a href="http://192.168.0.232:8001/org/预合并冲突解决指南.html">预合并上线冲突指南</a>---<a href="http://192.168.0.231:3000/release_merge">功能网页请戳我</a>.<br><br>
  <a href="http://192.168.0.220:8001/svnadmin">svnadmin权限管理</a>.<br><br>
</p>


