Package: wifiscript
Source: abc
Version: 1.0
Architecture: arm64
Maintainer: abc <abc@abc.cn>
Installed-Size: 88
Depends: 
Breaks: 
Section:  
Priority:  
Multi-Arch:  
Homepage: 
Description: abc wifi control scripts
