<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.QueueItemAuthenticatorMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.392</version>
  <numExecutors>0</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:jenkins</permission>
    <permission>hudson.model.Hudson.Administer:nanxiongchao</permission>
    <permission>hudson.model.Hudson.Administer:qishanqing</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:donglijian</permission>
    <permission>hudson.model.Hudson.Read:guoboyang</permission>
    <permission>hudson.model.Hudson.Read:jcljob</permission>
    <permission>hudson.model.Hudson.Read:lionel</permission>
    <permission>hudson.model.Hudson.Read:liu</permission>
    <permission>hudson.model.Hudson.Read:liumengang</permission>
    <permission>hudson.model.Hudson.Read:liuqiaojun</permission>
    <permission>hudson.model.Hudson.Read:liyanlong</permission>
    <permission>hudson.model.Hudson.Read:luyuanjia</permission>
    <permission>hudson.model.Hudson.Read:mayong</permission>
    <permission>hudson.model.Hudson.Read:nanxiongchao</permission>
    <permission>hudson.model.Hudson.Read:niujianqiang</permission>
    <permission>hudson.model.Hudson.Read:qiuliru</permission>
    <permission>hudson.model.Hudson.Read:shengzhaoqian</permission>
    <permission>hudson.model.Hudson.Read:sunhao</permission>
    <permission>hudson.model.Hudson.Read:wangdongqing</permission>
    <permission>hudson.model.Hudson.Read:wangjianwei</permission>
    <permission>hudson.model.Hudson.Read:wangxiangyu</permission>
    <permission>hudson.model.Hudson.Read:wss</permission>
    <permission>hudson.model.Hudson.Read:xu</permission>
    <permission>hudson.model.Hudson.Read:yangxu</permission>
    <permission>hudson.model.Hudson.Read:zhangming</permission>
    <permission>hudson.model.Hudson.Read:zhangshuai</permission>
    <permission>hudson.model.Hudson.Read:zhiqiang</permission>
    <permission>USER:hudson.model.Hudson.Read:huxinyue</permission>
    <permission>USER:hudson.model.Hudson.Read:lihan</permission>
    <permission>USER:hudson.model.Hudson.Read:limingyue</permission>
    <permission>USER:hudson.model.Hudson.Read:zhangwei</permission>
    <permission>USER:hudson.model.Hudson.Read:zhouxiaolong</permission>
    <permission>hudson.model.Item.Build:donglijian</permission>
    <permission>hudson.model.Item.Build:guoboyang</permission>
    <permission>hudson.model.Item.Build:jcljob</permission>
    <permission>hudson.model.Item.Build:lionel</permission>
    <permission>hudson.model.Item.Build:liu</permission>
    <permission>hudson.model.Item.Build:liumengang</permission>
    <permission>hudson.model.Item.Build:liuqiaojun</permission>
    <permission>hudson.model.Item.Build:liyanlong</permission>
    <permission>hudson.model.Item.Build:luyuanjia</permission>
    <permission>hudson.model.Item.Build:mayong</permission>
    <permission>hudson.model.Item.Build:nanxiongchao</permission>
    <permission>hudson.model.Item.Build:niujianqiang</permission>
    <permission>hudson.model.Item.Build:qiuliru</permission>
    <permission>hudson.model.Item.Build:shengzhaoqian</permission>
    <permission>hudson.model.Item.Build:sunhao</permission>
    <permission>hudson.model.Item.Build:wangdongqing</permission>
    <permission>hudson.model.Item.Build:wangjianwei</permission>
    <permission>hudson.model.Item.Build:wangxiangyu</permission>
    <permission>hudson.model.Item.Build:wss</permission>
    <permission>hudson.model.Item.Build:xu</permission>
    <permission>hudson.model.Item.Build:yangxu</permission>
    <permission>hudson.model.Item.Build:zhangming</permission>
    <permission>hudson.model.Item.Build:zhangshuai</permission>
    <permission>hudson.model.Item.Build:zhiqiang</permission>
    <permission>USER:hudson.model.Item.Build:huxinyue</permission>
    <permission>USER:hudson.model.Item.Build:lihan</permission>
    <permission>USER:hudson.model.Item.Build:limingyue</permission>
    <permission>USER:hudson.model.Item.Build:zhangwei</permission>
    <permission>USER:hudson.model.Item.Build:zhouxiaolong</permission>
    <permission>hudson.model.Item.Cancel:donglijian</permission>
    <permission>hudson.model.Item.Cancel:guoboyang</permission>
    <permission>hudson.model.Item.Cancel:jcljob</permission>
    <permission>hudson.model.Item.Cancel:lionel</permission>
    <permission>hudson.model.Item.Cancel:liu</permission>
    <permission>hudson.model.Item.Cancel:liumengang</permission>
    <permission>hudson.model.Item.Cancel:liuqiaojun</permission>
    <permission>hudson.model.Item.Cancel:liyanlong</permission>
    <permission>hudson.model.Item.Cancel:luyuanjia</permission>
    <permission>hudson.model.Item.Cancel:mayong</permission>
    <permission>hudson.model.Item.Cancel:nanxiongchao</permission>
    <permission>hudson.model.Item.Cancel:niujianqiang</permission>
    <permission>hudson.model.Item.Cancel:qiuliru</permission>
    <permission>hudson.model.Item.Cancel:shengzhaoqian</permission>
    <permission>hudson.model.Item.Cancel:sunhao</permission>
    <permission>hudson.model.Item.Cancel:wangdongqing</permission>
    <permission>hudson.model.Item.Cancel:wangjianwei</permission>
    <permission>hudson.model.Item.Cancel:wangxiangyu</permission>
    <permission>hudson.model.Item.Cancel:wss</permission>
    <permission>hudson.model.Item.Cancel:xu</permission>
    <permission>hudson.model.Item.Cancel:yangxu</permission>
    <permission>hudson.model.Item.Cancel:zhangming</permission>
    <permission>hudson.model.Item.Cancel:zhangshuai</permission>
    <permission>hudson.model.Item.Cancel:zhiqiang</permission>
    <permission>USER:hudson.model.Item.Cancel:huxinyue</permission>
    <permission>USER:hudson.model.Item.Cancel:lihan</permission>
    <permission>USER:hudson.model.Item.Cancel:limingyue</permission>
    <permission>USER:hudson.model.Item.Cancel:zhangwei</permission>
    <permission>USER:hudson.model.Item.Cancel:zhouxiaolong</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:donglijian</permission>
    <permission>hudson.model.Item.Read:guoboyang</permission>
    <permission>hudson.model.Item.Read:jcljob</permission>
    <permission>hudson.model.Item.Read:lionel</permission>
    <permission>hudson.model.Item.Read:liu</permission>
    <permission>hudson.model.Item.Read:liumengang</permission>
    <permission>hudson.model.Item.Read:liuqiaojun</permission>
    <permission>hudson.model.Item.Read:liyanlong</permission>
    <permission>hudson.model.Item.Read:luyuanjia</permission>
    <permission>hudson.model.Item.Read:mayong</permission>
    <permission>hudson.model.Item.Read:nanxiongchao</permission>
    <permission>hudson.model.Item.Read:niujianqiang</permission>
    <permission>hudson.model.Item.Read:qiuliru</permission>
    <permission>hudson.model.Item.Read:shengzhaoqian</permission>
    <permission>hudson.model.Item.Read:sunhao</permission>
    <permission>hudson.model.Item.Read:wangdongqing</permission>
    <permission>hudson.model.Item.Read:wangjianwei</permission>
    <permission>hudson.model.Item.Read:wangxiangyu</permission>
    <permission>hudson.model.Item.Read:wss</permission>
    <permission>hudson.model.Item.Read:xu</permission>
    <permission>hudson.model.Item.Read:yangxu</permission>
    <permission>hudson.model.Item.Read:zhangming</permission>
    <permission>hudson.model.Item.Read:zhangshuai</permission>
    <permission>hudson.model.Item.Read:zhiqiang</permission>
    <permission>USER:hudson.model.Item.Read:huxinyue</permission>
    <permission>USER:hudson.model.Item.Read:lihan</permission>
    <permission>USER:hudson.model.Item.Read:limingyue</permission>
    <permission>USER:hudson.model.Item.Read:zhangwei</permission>
    <permission>USER:hudson.model.Item.Read:zhouxiaolong</permission>
    <permission>hudson.model.Item.Workspace:authenticated</permission>
    <permission>hudson.model.Item.Workspace:donglijian</permission>
    <permission>hudson.model.Item.Workspace:guoboyang</permission>
    <permission>hudson.model.Item.Workspace:jcljob</permission>
    <permission>hudson.model.Item.Workspace:lionel</permission>
    <permission>hudson.model.Item.Workspace:liu</permission>
    <permission>hudson.model.Item.Workspace:liumengang</permission>
    <permission>hudson.model.Item.Workspace:liuqiaojun</permission>
    <permission>hudson.model.Item.Workspace:liyanlong</permission>
    <permission>hudson.model.Item.Workspace:luyuanjia</permission>
    <permission>hudson.model.Item.Workspace:mayong</permission>
    <permission>hudson.model.Item.Workspace:nanxiongchao</permission>
    <permission>hudson.model.Item.Workspace:niujianqiang</permission>
    <permission>hudson.model.Item.Workspace:qiuliru</permission>
    <permission>hudson.model.Item.Workspace:shengzhaoqian</permission>
    <permission>hudson.model.Item.Workspace:sunhao</permission>
    <permission>hudson.model.Item.Workspace:wangdongqing</permission>
    <permission>hudson.model.Item.Workspace:wangjianwei</permission>
    <permission>hudson.model.Item.Workspace:wangxiangyu</permission>
    <permission>hudson.model.Item.Workspace:wss</permission>
    <permission>hudson.model.Item.Workspace:xu</permission>
    <permission>hudson.model.Item.Workspace:yangxu</permission>
    <permission>hudson.model.Item.Workspace:zhangming</permission>
    <permission>hudson.model.Item.Workspace:zhangshuai</permission>
    <permission>hudson.model.Item.Workspace:zhiqiang</permission>
    <permission>USER:hudson.model.Item.Workspace:huxinyue</permission>
    <permission>USER:hudson.model.Item.Workspace:lihan</permission>
    <permission>USER:hudson.model.Item.Workspace:limingyue</permission>
    <permission>USER:hudson.model.Item.Workspace:zhangwei</permission>
    <permission>USER:hudson.model.Item.Workspace:zhouxiaolong</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:authenticated</permission>
    <permission>hudson.model.View.Read:donglijian</permission>
    <permission>hudson.model.View.Read:guoboyang</permission>
    <permission>hudson.model.View.Read:jcljob</permission>
    <permission>hudson.model.View.Read:lionel</permission>
    <permission>hudson.model.View.Read:liu</permission>
    <permission>hudson.model.View.Read:liumengang</permission>
    <permission>hudson.model.View.Read:liuqiaojun</permission>
    <permission>hudson.model.View.Read:liyanlong</permission>
    <permission>hudson.model.View.Read:luyuanjia</permission>
    <permission>hudson.model.View.Read:mayong</permission>
    <permission>hudson.model.View.Read:nanxiongchao</permission>
    <permission>hudson.model.View.Read:niujianqiang</permission>
    <permission>hudson.model.View.Read:qiuliru</permission>
    <permission>hudson.model.View.Read:shengzhaoqian</permission>
    <permission>hudson.model.View.Read:sunhao</permission>
    <permission>hudson.model.View.Read:wangdongqing</permission>
    <permission>hudson.model.View.Read:wangjianwei</permission>
    <permission>hudson.model.View.Read:wangxiangyu</permission>
    <permission>hudson.model.View.Read:wss</permission>
    <permission>hudson.model.View.Read:xu</permission>
    <permission>hudson.model.View.Read:yangxu</permission>
    <permission>hudson.model.View.Read:zhangming</permission>
    <permission>hudson.model.View.Read:zhangshuai</permission>
    <permission>hudson.model.View.Read:zhiqiang</permission>
    <permission>USER:hudson.model.View.Read:huxinyue</permission>
    <permission>USER:hudson.model.View.Read:lihan</permission>
    <permission>USER:hudson.model.View.Read:limingyue</permission>
    <permission>USER:hudson.model.View.Read:zhangwei</permission>
    <permission>USER:hudson.model.View.Read:zhouxiaolong</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>jdk8</name>
      <home>/usr/local/java/jdk1.8.0_251/bin/java</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>slam</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>clean_recorder-slam_thirdparty</string>
        <string>clean_recorder-vislam</string>
        <string>dirt-detect</string>
        <string>i12r-slam</string>
        <string>i18r-slam</string>
        <string>i18r-slam-calibration</string>
        <string>i18r-slam-pc</string>
        <string>parker-slam</string>
        <string>parker-slam_thirdparty</string>
        <string>parker-vislam</string>
        <string>parker-vislam-zs</string>
        <string>randy-slam</string>
        <string>rbn100-slam</string>
        <string>rbn100-slam-mindos</string>
        <string>rubby-judge_still-3566</string>
        <string>rubby-slam-3566</string>
        <string>rubby-slam_thirdparty-405</string>
        <string>rubby-slam_thirdparty-inside</string>
        <string>rubbyslam-cleanup</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>scm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>12_app</string>
        <string>carpull</string>
        <string>check_mount_ftp</string>
        <string>deploy-server</string>
        <string>deploy-server-car</string>
        <string>gitlab-backup</string>
        <string>indemind_app</string>
        <string>jenkins_config</string>
        <string>jira-backup</string>
        <string>mpull</string>
        <string>parker_app</string>
        <string>pipline-test</string>
        <string>randy_app</string>
        <string>rbn100_app</string>
        <string>rubby405_app</string>
        <string>rubby_app</string>
        <string>test1</string>
        <string>wiki-backup</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>embeded</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>clean_recorder-embeded</string>
        <string>i12r-embeded</string>
        <string>i12r-embeded-indemind</string>
        <string>i12r-embeded-ofilm</string>
        <string>i18r-embeded</string>
        <string>i18r-embeded-ice</string>
        <string>parker-embeded</string>
        <string>randy-embeded</string>
        <string>rbn100-embeded</string>
        <string>rubby-embeded-3566</string>
        <string>rubby405-embeded</string>
        <string>test-parker-embeded</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DeepLearning</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>deeplearning_site</string>
        <string>i18r_deeplearning</string>
        <string>parker-deeplearning</string>
        <string>randy-deeplearning</string>
        <string>rbn100-deeplearning</string>
        <string>rubby-deeplearning-3566</string>
        <string>rubby-deeplearning-405</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ros</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>ccpp_control-planing-i18r-so-upload</string>
        <string>clean_recorder-ros</string>
        <string>control-planing-i18r-so-upload</string>
        <string>control-planing-so-upload</string>
        <string>i12r-ros</string>
        <string>i18r-ros-pc</string>
        <string>parker-ros</string>
        <string>randy-ros</string>
        <string>rbn100-ros</string>
        <string>rubby-ros-405</string>
        <string>rubby405-ros</string>
        <string>test_control-planing-i18r-so-upload</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>sdk</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r-sdk</string>
        <string>rbn100-sdk</string>
        <string>rbn100-sdk-oss</string>
        <string>rubby-sdk</string>
        <string>rubby-sdk-3566</string>
        <string>rubby405-sdk</string>
        <string>test-rubby-sdk-3566</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>marker</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>calibr_tools</string>
        <string>clean_recorder-mark</string>
        <string>gtapp</string>
        <string>i12r-calibration</string>
        <string>i12r-mark</string>
        <string>i18r-marker</string>
        <string>i18r-marker-pc</string>
        <string>i18r-marker-test</string>
        <string>i18r_self</string>
        <string>i18r_self_pc</string>
        <string>mark-check-tools</string>
        <string>parker-calibr</string>
        <string>parker-mark</string>
        <string>randy-calibration</string>
        <string>randy-mark</string>
        <string>rbn100-mark</string>
        <string>rbn100-scc</string>
        <string>rubby-cam2odo-405</string>
        <string>rubby-control-405</string>
        <string>rubby-infrastructurecheck-405</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>depth</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>clean_recorder_depth</string>
        <string>i12r_depth</string>
        <string>i18r_depth</string>
        <string>i18r_depth_pc</string>
        <string>i18r_depth_test</string>
        <string>i18r_depth_test_pc</string>
        <string>randy-depth</string>
        <string>randy-depth-test</string>
        <string>rbn100_depth</string>
        <string>rubby-depth-405</string>
        <string>rubby-depth-test</string>
        <string>rubby405-depth</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>UI</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r_ui</string>
        <string>parker_ui</string>
        <string>randy_ui</string>
        <string>rbn100_ui</string>
        <string>rbnkit_ui_pc</string>
        <string>rubby_ui_pc</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>生产工具</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>i18r_robot_check</string>
        <string>i18r_tools</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>mind_os</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>mind_os_3566</string>
        <string>mind_os_405</string>
        <string>mind_os_a311d</string>
        <string>mind_os_all</string>
        <string>mind_os_update</string>
        <string>mind_os_x64</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>java</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>cloud_base</string>
        <string>cloud_gateway</string>
        <string>cloud_promgrserver</string>
        <string>cloud_rss</string>
        <string>cloud_ui</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="java.lang.String$CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string></string>
          <string></string>
          <string>/usr/bin/apt-mirror</string>
          <string>apt-mirror</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <globalNodeProperties/>
  <nodeRenameMigrationNeeded>true</nodeRenameMigrationNeeded>
</hudson>