<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>qishanqing</id>
  <fullName>祁善庆</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>41cca988-d64f-4a1b-9588-17e6f1c152b3</uuid>
            <name>Token created on 2020-07-30T16:50:25.841+08:00</name>
            <creationDate>2020-07-30 08:50:25.844 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>0bac0d9271ffafe4c5213f299148ee9396ce56c7ee31a4ee4914f113c03e3ce4</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>b28ff489-1b44-4a35-bb5f-aec5908b1d80</uuid>
            <name>jenkins-jar</name>
            <creationDate>2021-05-28 06:55:37.961 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>46ee823694d4f8dbecd04554359fe8a896c5831672b13d0a8635a0798f2b96a7</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1189.vf61b_a_5e2f62e">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@438.v02c7f0a_12fa_4">
      <emailAddress>qishanqing@indemind.cn</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.91">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1591063799101</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.7">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$EbVfYKDerskoV9ObFqA6ced6vUcBAVhD5ZH9Ljwxn2z34kwcLHikG</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl plugin="sshd@3.275.v9e17c10f2571">
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <jenkins.security.seed.UserSeedProperty>
      <seed>0f1e4766ae363189</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty>
      <timeZoneName></timeZoneName>
    </hudson.model.TimeZoneProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.4.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>calibr_tools</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>clean_recorder-vislam</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>tally_app</string>
          <boolean>false</boolean>
        </entry>
        <entry>
          <string>rubby-sdk-3566</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
  </properties>
</user>