<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.18"/>
    <it.dockins.dockerslaves.spec.ContainerSetDefinition plugin="docker-slaves@1.0.7">
      <buildHostImage class="it.dockins.dockerslaves.spec.ImageIdContainerDefinition">
        <image/>
        <forcePull>false</forcePull>
      </buildHostImage>
      <sideContainers class="empty-list"/>
    </it.dockins.dockerslaves.spec.ContainerSetDefinition>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.9">
      <gitLabConnection>Gitlab</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
    agent any
    stages {
        stage("获取code") {
	    agent {
	      	  label "master"
	      }		  
	      steps {
	      	    git credentialsId: 'add4e790-1baf-4d9e-81aa-2941949e9901', url: 'ssh://git@192.168.50.191:222/lifei/slam_thirdparty.git'
	      }

	}
        stage("images build") {
            agent {
	    	  docker {
	    	  	 label "master"
			 image '3566:3.0'
		    	 args '-u root -v /usr/bin/qemu-aarch64-static:/usr/bin/qemu-aarch64-static  -v /home/indemind/myscript:/home/indemind/myscript -v /home/jenkins/jenkins_home/jobs:/home/jenkins/jenkins_home/jobs -v  /home/indemind/workspace:/root/system'
			}
		}		   
            	steps {
	    	sh  '''
		    . ./build.sh
		       '''
		       }	       
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>